* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
.form {
  position: relative;
}
form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 465px;
  height: 436px;
  border: 1px solid;
  text-align: center;
  padding: 30px;
}
.blank {
  background-color: #e5e5e5;
  width: 100%;
  height: 200px;
  border-radius: 16px;
  margin-bottom: 20px;
}
h3,
p {
  opacity: 0.7;
  margin-bottom: 10px;
}
input {
  width: 100%;
  margin-top: 10px;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
input[type="submit"] {
  background-color: #4f4f4f;
  color: white;
}
.icon {
  background-color: #e5e5e5;
  width: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  top: 1%;
  right: 1%;
}
