* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
.layout-1 {
  position: relative;
  padding: 50px;
}
.layout-content {
  width: 600px;
  height: 400px;
}
.layout-content p {
  margin: 20px 0;
}
.layout-content button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 100px;
}
.img-1,
.img-2 {
  position: absolute;
  width: 200px;
  right: 50px;
  top: 50px;
}
.img-1 {
  right: 200px;
}
.img-2 {
  top: 100px;
}
.layout-2 {
  margin: 50px;
  background-color: black;
  color: white;
  border-radius: 16px;
  padding: 20px;
}
.layout-2 h3 {
  margin-top: 10px;
}
.layout-2 p {
  margin: 20px 0;
}
table {
  border-spacing: 20px;
  width: 100%;
}
