* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
main {
  background-color: black;
}
div {
  position: relative;
  display: inline-block;
  background-color: white;
  margin: 20px;
  padding: 20px;
  border: 1px solid;
  border-radius: 100px;
  width: 500px;
}
i {
  margin-right: 20px;
}
input {
  border: none;
  font-size: 16px;
}
input:focus {
  outline: none;
}
.img-camera,
.img-micro {
  position: absolute;
  right: 0;
}
.img-camera {
  width: 30px;
  top: 12px;
  right: 12px;
}
.img-micro {
  width: 16px;
  top: 17px;
  right: 60px;
}
img {
  width: 100%;
}
