* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
main {
  background-color: #fbfbfb;
}
h1 {
  opacity: 0.5;
  margin: 20px;
}
p {
  opacity: 0.7;
}
button {
  margin: 20px 8px;
  padding: 10px 20px;
}
.download-btn {
  background-color: #4696e5;
  color: white;
  border: none;
  border-radius: 4px;
}
.infor-btn {
  background-color: transparent;
  opacity: 0.7;
  border: 1px solid;
  border-radius: 4px;
}
footer {
  background-color: #f7f7f7;
  padding: 50px;
}
.icon {
  margin-bottom: 50px;
  opacity: 0.6;
  font-size: 30px;
  letter-spacing: 20px;
}
span {
  text-decoration: underline dotted;
}
